@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-orange-elevated {
        background: linear-gradient(91.68deg, #ff9646 40%, #ffba24 90%);
        @apply bg-clip-text text-transparent;
        filter: drop-shadow(7px 8px 4px rgba(0, 0, 0, 0.25));
    }

    .bg-colorful {
        --colorful-bg-degree: 129.21deg;
        background-image: linear-gradient(var(--colorful-bg-degree), #0038FF -13.13%, rgba(160, 0, 236, 0.630208) 24.84%, rgba(231, 9, 198, 0.382793) 68.14%, rgba(255, 146, 18, 0.41) 114.78%);
    }

    .drop-shadow-pink {
        filter: drop-shadow(0px 4px 20px rgba(173, 0, 255, 0.25));
    }

    .card {
        @apply rounded-md bg-white shadow-sm;
    }

    .rounded-input {
        @apply bg-white rounded-md border border-gray-300 p-3;
    }

    .rounded-button {
        @apply rounded-md border border-gray-300 py-2 px-4 hover:bg-gray-100;
    }

    .danger-button {
        @apply bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600;
    }

    .input-field {
        @apply flex flex-col gap-1;
    }

    .input-field label {
        @apply text-sm font-semibold;
    }

    .input-field text {
        @apply text-sm text-gray-500;
    }

    .primary-button {
        @apply bg-black text-white font-semibold py-2 px-4 rounded-md;
    }

    .primary-button-with-hover {
        @apply primary-button hover:bg-gray-700;
    }
}
